<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.min.cinemagreen.admin.mapper.IAdminMovieMapper">

  <select id="getMovieList" resultType="MovieDTO"> <!-- 모든 영화 가져오기 -->
    SELECT * FROM movie_t
             ORDER BY
             movie_no ASC
  </select>
  
  <select id="getMovieById" parameterType="int" resultType="MovieDTO"> <!-- 해당 영화번호에 맞는 정보 가져오기 -->
    SELECT * FROM movie_t
     WHERE movie_no = #{movieNo}
  </select>
  
  <select id="getRuntimeList" resultType="RuntimeDTO"> <!-- 모든 영화 상영시각 가져오기 -->
    SELECT * FROM runtime_t
             ORDER BY
             movie_no ASC
  </select>
  
  <select id="getRuntimeById" parameterType="int" resultType="RuntimeDTO"> <!-- 해당 영화번호에 맞는 상영시각 가져오기 -->
    SELECT * FROM runtime_t
     WHERE movie_no = #{movieNo}
  </select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</mapper>