<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.min.cinemagreen.mapper.IMovieMapper">

  <insert id="insertMovie" parameterType="MovieDTO">
    INSERT INTO MOVIE_T (
        MOVIE_NO
      , TITLE
      , SUBTITLE
      , STORY
      , GRADE
      , TICKET_RATE
      , REVIEW_SCORE
      , TICKET_SALE
      , OPENING_DT
      , RUNNING_TIME
    ) VALUES (
        movie_seq.NEXTVAL
      , #{title}
      , #{subTitle}
      , #{story}
      , #{grade}
      , #{ticketRate}
      , #{reviewScore}
      , #{ticketSale}
      , #{openingDt}
      , #{runningTime}
    )
  </insert>

</mapper>