<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.min.cinemagreen.payment.mapper.IPaymentMapper">

  <insert id="payInsert" parameterType="map">
    INSERT INTO payment_t (
       pay_id,
       user_no,
       ticketing_no,
       pay_method,
       amount,
       pay_dt,
       pay_state
    ) VALUES (
       #{payId},
       #{userNo},
       #{ticketingNo},
       #{payMethod},
       #{amount},
       CURRENT_DATE,
       'Y'
    )
  </insert>
  
  <select id="getPayInfo"  resultType="PaymentDTO">
    SELECT pay_id,
       user_no,
       ticketing_no,
       pay_method,
       amount,
       pay_dt,
       pay_state,
       cancel_dt,
       cancel_status           
      FROM payment_t 
      WHERE pay_id = #{payId} 

  </select>
  
  <insert id="insertTicket" parameterType="map">
    INSERT INTO ticketing_t (
       ticketing_no,
       user_no,
       time_no,
       movie_no,
       ticket_dt,
       person_count
    ) VALUES (
       #{ticketingNo},
       #{userNo},
       #{timeNo},
       #{movieNo},
       CURRENT_DATE,
       #{personCount}
    )
  </insert>
  
   <insert id="insertOccpSeat" parameterType="map">
   		INSERT INTO occupied_seat_t (
	       occupied_seat_no,
	       seat_code,
	       seat_type_no,
	       time_no,
	       ticketing_no
	    ) VALUES (
	       occupied_seat_seq.NEXTVAL,
	       #{seatCode},
	       2,
	       #{timeNo},
	       #{ticketingNo}
	    )
    </insert>
    
    
    <select id="getOccpSeatsInfo" resultType="map">
	    SELECT seat_code
	    FROM occupied_seat_t
	    WHERE ticketing_no = #{ticketingNo} 
		</select>
		
    <select id="getOccpSeats" resultType="String">
	    SELECT seat_code
	    FROM occupied_seat_t
		</select>
		
		<select id="getMovieByTicketingNo" resultType="int">
	    SELECT movie_no
	    FROM ticketing_t
	    WHERE ticketing_no = #{ticketingNo}
		</select>
		
		<select id="getTickeInfo" resultType="TicketingDTO">
		  SELECT ticketing_no,
		  user_no,
		  time_no,
		  movie_no,
		  ticket_dt,
		  person_count
		  FROM ticketing_t
		  WHERE ticketing_no = #{ticketingNo}
		</select> 
		
    
</mapper>
