<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.min.cinemagreen.payment.mapper.IPaymentMapper">

  <insert id="payInsert" parameterType="map">
    INSERT INTO payment_t (
       pay_id,
       user_no,
       ticketing_no,
       pay_method,
       amount,
       pay_dt,
       pay_state
    ) VALUES (
       #{payId},
       #{userNo},
       #{ticketingNo},
       #{payMethod},
       #{amount},
       CURRENT_DATE,
       'y'
    )
  </insert>
  <select id="getPayInfo"  resultType="PaymentDTO">
    SELECT pay_id,
       user_no,
       ticketing_no,
       pay_method,
       amount,
       pay_dt,
       pay_state,
       cancel_dt,
       cancel_status           
      FROM payment_t 
      WHERE pay_id = #{payId} 

  </select>
  
  
</mapper>