<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.min.cinemagreen.admin.mapper.IUserInfoMapper">

  <insert id="adminInsertUser" parameterType="UserInfoDTO">
    INSERT INTO user_t (
        user_no
      , email
      , pw
      , name
      , gender
      , mobile
      , sns
      , pw_modify_dt
      , signup_dt
      , birthyear
      , age
      , postcode
      , address
      , detail_address
      , extra_address
    ) VALUES (
        user_seq.NEXTVAL
      , #{email}
      , #{pw}
      , #{name}
      , #{gender}
      , #{mobile}
      , #{sns}
      , CURRENT_DATE
      , CURRENT_DATE
      , #{birthyear}
      , #{age}
      , #{postcode}
      , #{address}
      , #{detailAddress}
      , #{extraAddress}
    )
  </insert>

    <select id="getUserList" resultType="UserInfoDTO">
        SELECT
            user_no,
            email, 
            name, 
            mobile, 
            sns, 
            signup_dt, 
            birthyear, 
            age, 
            gender,
            postcode, 
            address, 
            detail_address, 
            extra_address        
      FROM user_t
        ORDER BY
            signup_dt DESC
    </select>
  
    <!-- 사용자 번호에 해당하는 정보 조회 -->
    <select id="getUserById" parameterType="int" resultType="UserInfoDTO">
        SELECT
            user_no,
            email, 
            name, 
            mobile, 
            sns, 
            signup_dt, 
            birthyear, 
            age, 
            gender,
            postcode, 
            address, 
            detail_address, 
            extra_address        
      FROM user_t
        WHERE
            user_no = #{userNo}
    </select>
    
  
	<update id="adminUpdateUser" parameterType="UserInfoDTO">
	  UPDATE user_t
	  SET name = #{name}, 
	  mobile = #{mobile}, 
	  gender = #{gender}, 
	  birthyear = #{birthyear}, 
	  signup_dt = #{signupDt}, 
	  postcode = #{postcode}, 
	  address = #{address}, 
	  extra_address = #{extraAddress}, 
	  detail_address = #{detailAddress}
	  WHERE user_no = #{userNo}
	</update>
  
    <delete id="adminDeleteUser" parameterType="int">
      DELETE
        FROM user_t
      WHERE user_no = #{userNo}
    </delete>
  
    <select id="doubleEmailCheckDo" parameterType="UserInfoDTO" resultType="UserInfoDTO">
      SELECT email           
        FROM user_t
       WHERE email = #{email}
    </select>
  
  
  
  
  
  
  
  
  
  
  
  
</mapper>